@use './partials/variables' as *;
@use './partials/header';
@use './partials/herobanner';
@use './partials/products';
@use './partials/icon';


@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
}

/*------------
    GENERAL
--------------*/

body {
    font-family: "Cabin Condensed", sans-serif;
}

li {
    list-style-type: none;
}

/*------------
    LAYOUT
--------------*/

.container-ms {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .row-ms {
        display: flex;
        flex-wrap: wrap;
    }

    .row-space-between {
        display: flex;
        justify-content: space-between;
    }
}